{
    "token": "your bot token",
    "prefix": "your bot prefix",
    owner: ["your user id"]
    "options": {
        "autoreconnect": true,
        "allowedMentions": {
            "everyone": false,
            "roles": false,
            "users": true
        },
        "getAllUsers": true,
        "firstShardID": 0,
        "restMode": true,
        "defaultImageFormat": "png",
        "defaultImageSize": 2048,
        "maxShards": "auto"
    }
}